In [2]:
##Tratar o dados com o seguinte parametro
#Aparência=Sol,Nublado,Chuva
#Temperatura=-130 até 130F
#Umidade=0 até 100
#Jogar=S / N
#Tratar Null(NAs)

In [4]:
#Bibliotecas
import pandas as pd
import seaborn as srn
import statistics as sts

In [5]:
#receber arquivo e visualizar
database = pd.read_csv("Tempo.csv",sep=";")
database.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [6]:
#descobrindo quantas colunas e linhas tem
database.shape

(14, 5)

In [10]:
#Já sei q tem valor fora do padrão(menos), vou tratar para a moda(chuva)
database.loc[database['Aparencia']=="Chuva",'Aparencia'] = "chuva"
agrupadoApa = database.groupby(['Aparencia']).size()
agrupadoApa

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [11]:
#tenho que usar a sts para ver os valores da coluna Temperatura